{%  extends "base.html" %}

{% block title %}optyjaciel | blog{% endblock %}

{%  block content %}

    {% for post in posts %}
        <div class="box">
            <h2 style="font-size: 1em;">{{ post.title|safe }}</h2>
            <p>{{ post.date|date:'Y-m-d' }}</p>
            <h3 style="font-size: 1em; font-weight: normal; line-height: 200%; text-align: justify">
                {{ post.body|truncatewords_html:50|safe|linebreaks }}
            </h3>
            <div class="vertical-center"><a href="{% url "post" post.slug %}">czytaj więcej</a></div>
        </div>
    {% endfor %}

{% endblock %}