{% load static %}
{% block head %}
    <link rel="stylesheet" href="{% static 'css/account.css' %}">
{% endblock %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Cookie" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu" rel="stylesheet">
    <title>{% block title %}optyjaciel | optymalny przyjaciel{% endblock %}</title>
</head>
<body>
    <div class="container">
        <div class="vertical-center" style="margin: 36px 0 36px 0;"><span class="logo">optyjaciel</span></div>
        <div class="content">
            {% block content %}{% endblock %}
        </div>
    </div>
</body>
</html>