{%  extends "registration/account.html" %}

{% block title %}optyjaciel | zmiana hasła{% endblock %}

{% block content %}

    <h1>Zmiana hasła</h1>

    {% if form.login.errors %}
        {% for err in form.login.errors %}
            {{ err|escape }}
        {% endfor %}
    {% endif %}

    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="vertical-center">
            <button type="submit">Zmień hasło</button>
        </div>
    </form>

{% endblock %}