{%  extends "registration/account.html" %}

{% block title %}optyjaciel | resetowanie hasła{% endblock %}

{% block content %}

    <h1>Resetowanie hasła</h1>

    {% if form.login.errors %}
        {% for err in form.login.errors %}
            {{ err|escape }}
        {% endfor %}
    {% endif %}

    <form action="." method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="vertical-center">
            <button type="submit" class="button blue-button">Wyślij e-mail</button>
        </div>
    </form>

{% endblock %}