{%  extends "registration/account.html" %}

{% block title %}optyjaciel | resetowanie hasła{% endblock %}

{% block content %}

    {% if validlink %}
        <h1>Resetowanie hasła</h1>

        {% if form.login.errors %}
            {% for err in form.login.errors %}
                {{ err|escape }}
            {% endfor %}
        {% endif %}

        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="vertical-center">
                <input type="submit" value="Zmień hasło" class="button blue-button">
            </div>
        </form>
    {% else %}
        <p>Link jest nieprawidłowy. Proszę spróbuj ponownie.</p>
    {% endif %}

{% endblock %}