<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Cookie">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Ubuntu">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% block head %}{% endblock %}
    <title>optyjaciel | optymalny przyjaciel</title>
</head>
<body>
    <div class="wrapper">
        <div class="top-bar">
            <div class="top-bar-container">
                {% if request.user.username %}
                    <strong>{{ request.user.username }}</strong> | <a href="{% url "logout" %}">wyloguj się</a>
                {% else %}
                    <a href="{% url "login" %}">zaloguj się</a>
                {% endif %}
            </div>
        </div>

        <h1 class="logo">optyjaciel</h1>
        <div class="container">
            <div class="menu">
                <ul>
                    <li {% if path_name == "rules" %} class="checked" {% endif %}>
                        <a href="{% url "rules" %}">zasady gry</a>
                    </li>
                    <li {% if path_name == "game" %} class="checked" {% endif %}>
                        <a href="{% url "game" %}">aktualna runda</a>
                    </li>
                    <li {% if path_name == "matches" %} class="checked" {% endif %}>
                        <a href="{% url "matches" %}">Twoi optyjaciele</a>
                    </li>
                    <li {% if path_name == "message-list" %} class="checked" {% endif %}>
                        {% if no_messages > 0 %}
                            <a href="{% url "message-list" %}"><strong>wiadomości [{{ no_messages }}]</strong></a>
                        {% else %}
                            <a href="{% url "message-list" %}">wiadomości</a>
                        {% endif %}
                    </li>
                    <li {% if path_name == "suggest" %} class="checked" {% endif %}>
                        <a href="{% url "suggest" %}">zaproponuj pytanie</a>
                    </li>
                </ul>
            </div>

            <div class="content">
                {% block content %}{% endblock %}
            </div>
        </div>

        <div class="push"></div>
    </div>
    <div class="footer"></div>

</body>
</html>