<!DOCTYPE html>
{% load static %}
<html lang="pl-PL">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block meta_description %}
        <meta name="description" content="Optyjaciel to internetowa gra towarzyska, w której możesz poznać nowych
        znajomych i przyjaciół. W grze zostaniesz dobrany w parę na podstawie Twoich zainteresowań i preferencji.">
    {% endblock %}
    <meta name="keywords" content="przyjaciel, przyjaciółka, przyjaciele, przyjaźń,
    kolega, koleżanka, koledzy, koleżanki, znajomy, znajoma, znajomi, poznawanie nowych osób, poznawanie nowych ludzi,
    gra, gra towarzyska, zabawa, portal społecznościowy">
    <meta name="google-adsense-account" content="ca-pub-5965098763982165">

    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Cookie">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-TRZVQS19DF"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-TRZVQS19DF');
    </script>

    {% block head %}{% endblock %}
    <title>{% block title %}optyjaciel | optymalny przyjaciel{% endblock %}</title>
</head>
<body>
    <div class="wrapper">
        <header>
            <div class="header-container">
                {% if request.user.username %}
                    <strong><a href="{% url "profile" %}">{{ request.user.username }}</a></strong>
                    | <a href="{% url 'account:logout' %}">wyloguj się</a>
                {% else %}
                    <a href="{% url "account:login" %}">zaloguj się</a>
                {% endif %}
            </div>
        </header>

        <div class="logo vertical-center"><a href="{% url "rules" %}">optyjaciel</a></div>

        <div class="container">
            <nav>
                <ul>
                    <li><a href="{% url "game" %}">gra</a></li>
                    <li><a href="{% url "matches" %}">optyjaciele</a></li>
                    <li>
                        {% if no_messages > 0 %}
                            <a href="{% url "message-inbox" %}"><strong>wiadomości [{{ no_messages }}]</strong></a>
                        {% else %}
                            <a href="{% url "message-inbox" %}">wiadomości</a>
                        {% endif %}
                    </li>
                    <li><a href="{% url "rules" %}">zasady</a></li>
                    <li><a href="{% url "blog" %}">pamiętnik</a></li>
                </ul>
            </nav>
            <main>{% block content %}{% endblock %}</main>
        </div>
        <div class="push"></div>
    </div>
    <footer>
        <div class="footer-container"><span>© 2025 optyjaciel</span></div>
    </footer>
</body>
</html>