{%  extends "base.html" %}

{% load static %}
{% block head %}
    <link rel="stylesheet" href="{% static 'css/compatibility.css' %}">
{% endblock %}
{% block subtitle %}kompatybilność{% endblock %}

{%  block content %}
    <div class="box">
        <h3>Runda: {{ quiz.year }}_{{ quiz.week }}</h3>
        <table>
            <tr>
                <th>#</th>
                <th>Pytanie</th>
                <th>{{ user1.username }}</th>
                <th>{{ user2.username }}</th>
            </tr>

            {% for element in elements %}
            <tr {% if element.1 == element.2 %} class="good" {% endif %}>
                <td>{{ forloop.counter }}</td>
                <td>{{ element.0 }}</td>
                <td>{{ element.1 }}</td>
                <td>{{ element.2 }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}