{%  extends "base.html" %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/game.css' %}">
    <link rel="stylesheet" href="{% static 'css/current_match.css' %}">
{% endblock %}

{%  block content %}
    <div class="gray-belt">runda {{ year }}_{{ week }}</div>
    <div class="current-match">
        <p>Do końca rundy zostało: {{ remaining_time_in_week }}</p>
        <p>Na tę chwilę Twoim optyjacielem jest:</p>

        <div class="matched-user">
            AlaMakota<br>
            8 punktów
        </div>
    </div>

{% endblock %}