{%  extends "base.html" %}

{% load static %}
{% block head %}
    <link rel="stylesheet" href="{% static 'css/match.css' %}">
{% endblock %}

{% block content-title %}aktualna runda{% endblock %}

{%  block content %}
    <div class="information">
        Do końca rundy zostało: <strong>{{ remaining_time_in_week }}</strong>.
        Obecnie Twoim optyjacielem jest:
    </div>
    <br>
    <div class="vertical-center">
        {% include "single_match.html" %}
    </div>
    <div class="bottom"></div>

{% endblock %}