{% load static %}
{% block head %}
    <link rel="stylesheet" href="{% static 'css/join.css' %}">
{% endblock %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Cookie" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu" rel="stylesheet">
    <title>optyjaciel | optymalny przyjaciel</title>
</head>
<body>
    <div class="container">
        <h1 class="logo">optyjaciel</h1>
        <div class="content">
            {% block content %}{% endblock %}
        </div>
    </div>
</body>
</html>