{%  extends "base.html" %}

{% load static %}
{% block styles %}
    <link rel="stylesheet" href="{% static 'css/match.css' %}">
{% endblock %}

{% block content-title %}runda {{ quiz.year }}_{{ quiz.week }}{% endblock %}

{%  block content %}
    Do końca rundy zostało: {{ remaining_time_in_week }}
    <br><br>
    Na tę chwilę Twoim optyjacielem jest:
    <br><br>

    <div class="user-card">
        <div class="left">
            <span class="score">{{ score }}</span><br>{{ points }}
        </div>

        <div class="right">
            <span class="username">{{ matched_user.username }}</span>
            <div class="buttons">
                <a href="{% url "compatibility" quiz.id user_id matched_user.id %}">
                    kompatybilność
                </a>
                {# <button>wiadomość</button> #}
            </div>
        </div>
    </div>

    <div class="bottom"></div>

{% endblock %}