Rok: {{ match.quiz.year }}, tydzień {{ match.quiz.week }}
{% if match.matched_user %}
    <div class="user-card">
        <div class="left">
            <span class="score">{{ match.score }}</span><br>{{ match.points }}
        </div>

        <div class="right">
            <span class="username">{{ match.matched_user.username }}</span>
            <div class="buttons">
                <a href="{% url "compatibility" match.quiz.id user_id match.matched_user.id %}">
                    kompatybilność
                </a>
                {# <button>wiadomość</button> #}
            </div>
        </div>
    </div>
{% else %}
    <p><strong>Niestety obecnie jest nieparzysta liczba uczestników i nie masz optyjaciela. :-(</strong></p>
{% endif %}
