{%  extends "base.html" %}

{% load static %}
{% block head %}
    <link rel="stylesheet" href="{% static 'css/message.css' %}">
{% endblock %}

{%  block content %}
    <div class="box">
        <a href="{% url "message-write" %}">
            <div class="vertical-center"><button class="big-orange-button">Napisz wiadomość</button></div>
        </a>

        <h2>Wiadomości odebrane:</h2>
        <div class="table">
            {% for message in messages_in %}
                <a class="table-row {% if message.new %} new-msg {% endif %}" href="{% url "message-read" message.id %}">
                    <div class="table-cell">{{ message.from_user.username }}</div>
                    <div class="table-cell">{{ message.title }}</div>
                    <div class="table-cell">{{ message.sent_at }}</div>
                </a>
            {% empty %}
                Brak wiadomości
            {% endfor %}
        </div>

        <h2>Wiadomości wysłane:</h2>
        <div class="table">
            {% for message in messages_out %}
            <a class="table-row" href="{% url "message-read" message.id %}">
                <div class="table-cell">{{ message.to_user.username }}</div>
                <div class="table-cell">{{ message.title }}</div>
                <div class="table-cell">{{ message.sent_at }}</div>
            </a>
            {% empty %}
                Brak wiadomości
            {% endfor %}
        </div>
    </div>
{% endblock %}