{%  extends "base.html" %}

{% load static %}
{% block head %}
    <link rel="stylesheet" href="{% static 'css/match.css' %}">
{% endblock %}

{%  block content %}
    <div class="information">Twoi optyjaciele z poprzednich rund</div>
    <div class="previous-matches">
        {% for match in matches %}
            {% include "single_match.html" %}
        {% empty %}
            <div style="text-align: center; width: 100%;">
                <span style="font-size: 1.5em;">Jeszcze nie masz żadnych optyjaciół.<br>
                Optyjaciele pojawią się po zakończonej rundzie, w której weźmiesz udział.</span>
            </div>
        {% endfor %}
    </div>
{% endblock %}