{%  extends "base.html" %}

{% load static %}
{% block head %}
    <link rel="stylesheet" href="{% static 'css/rules.css' %}">
{% endblock %}

{%  block content %}
    <div class="box high-line">
        <span class="qa">Na czym polega gra?</span>
        <p>W każdej rundzie wszyscy gracze odpowiadają na 10 takich samych pytań.
            Następnie gracze są dobierani w pary tak, aby uzyskać jak najwięcej punktów <strong>dla całej grupy graczy</strong>.
            Dobraną parę nazywamy <strong>optyjaciółmi</strong>.
        </p>

        <p>Punkt przyznawany jest wtedy, gdy dwie osoby odpowiedzą tak samo na pytanie.
            Każda runda zawiera 10 pytań, więc jedna para może uzyskać maksymalnie 10 punktów.
        </p>

        <span class="blue-reverse">Ważne!</span> Twoim optyjacielem nie jest osoba, z którą masz najwięcej punktów.
        Jest to osoba, z którą jesteś połączony(a) tak, aby cała grupa miała jak najwięcej punktów.
        Więcej na temat sposobu łączenia w pary znajdziesz w odpowiedzi w kolejnym pytaniu.

        <p>Każda runda trwa jeden tydzień (od poniedziałku do niedzieli).
            W trakcie trwania rundy optyjaciele mogą się zmieniać, ponieważ do gry dołączają nowi gracze.
            Po zakończeniu rundy nowi uczestnicy nie moga już dołączyć, a optyjaciele są łączeni na stałe.
        </p>
    </div>

    <div class="box high-line">
        <span class="qa">Jak dobierani są optyjaciele?</span>
        <img src="{% static 'img/diagram.png' %}" alt="Przykładowe wyniki z rundy">
        <p>Optyjaciele są łączeni w pary tak, aby uzyskać jak najwięcej punktów wśród wszystkich grających.
            Punkt jest przyznawany zawsze wtedy, gdy dwie osoby odpowiedzą tak samo na pytanie.</p>

        <p>Zobaczmy to na przykładzie.</p>

        <p>Załóżmy, że w grze biorą udział Alicja, Bartek, Czarek i Daria.
            Ich wyniki można zobaczyć na diagramie obok.</p>

        <p>Optyjacielami zostaliby Alicja i Bartek (wynik 7 punktów) oraz Czarek i Daria (wynik 6 punktów).
            W ten sposób wynik całej grupy to 13 punktów.</p>

        <p>Mimo że najwyższy wynik mają Alicja i Czarek (8 punktów) nie są oni optyjacielami,
            ponieważ wtedy Bartek zostałby połączony z Darią (4 punkty).
            A wynik całej grupy wyniósłby tylko 12 punktów.</p>
    </div>

    <div class="box high-line">
        <span class="qa">Jakie jest prawdopodobieństwo uzyskania 10 punktów?</span>
        <p>Prawdopodobieństwo odpowiedzi tak samo na jedno pytanie to 1 do 4.</p>

        <p>W przypadku dwóch pytań, prawdopobieństwo odpowiedzi na obydwa tak samo wynosi 1 do 16.</p>

        <p>Natomiast prawdopodobieństwo, że dwie osoby odpowiedziały tak samo na wszystkie 10 pytań wynosi 1 do 1 048 576
            (mniej niż jeden na milion!).</p>

        <p>Masz więcej pytań? Zadaj je proszę za pomocą formularza kontaktowego.</p>
    </div>

{% endblock %}