{%  extends "base.html" %}

{% load static %}
{% block head %}
    <link rel="stylesheet" href="{% static 'css/suggest.css' %}">
{% endblock %}

{%  block content %}
    <div class="box">
        <div style="text-align: center;">Zaproponuj swoje pytanie do kolejnych rund gry</div>

        {% if form.login.errors %}
          <ol>
          {% for err in form.login.errors %}
            <li>
              <strong>
                {{ err|escape }}
              </strong>
            </li>
          {% endfor %}
          </ol>
        {% endif %}

        <div class="suggest-form">
            <form action="#" method="post">
                {% csrf_token %}
    {#            <table>#}
                    {{ form.as_p }}
    {#            </table>#}
                <div class="vertical-center">
                    <button type="submit" class="big-orange-button">Wyślij</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}