{%  extends "join/join.html" %}

{% block title %}optyjaciel | zaloguj się{% endblock %}

{% block content %}

<h1>Zaloguj się</h1>

 {% if form.login.errors %}
  {% for err in form.login.errors %}
      {{ err|escape }}
  {% endfor %}
{% endif %}

<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <div class="vertical-center"><button type="submit">Zaloguj</button></div>
    <br>
    Nie masz jeszcze konta? <a href="{% url "register" %}" class="blue"><u>Zarejestruj się.</u></a>
</form>

{% endblock %}