{%  extends "join/join.html" %}

{% block title %}optyjaciel | zarejestruj się{% endblock %}

{% block content %}

<h2>Zarejestruj się</h2>

 {% if form.login.errors %}
  {% for err in form.login.errors %}
      {{ err|escape }}
  {% endfor %}
{% endif %}

<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <div class="vertical-center"><button type="submit">Utwórz konto</button></div>
    <br>
    Masz już konto? <a href="{% url "login" %}" class="blue"><u>Zaloguj się.</u></a>
</form>

{% endblock %}.