/*
    orange: rgba(245, 180, 76, 1);
    blue: #003c61; rgba(0, 60, 97, 1);
*/

* { box-sizing: border-box; }
a { color: inherit; text-decoration: none; }

html {
    height: 100%;
    margin: 0;
}

body {
    height: 100%;
    margin: 0;
    font-family: Ubuntu, sans-serif;
    background-color: #eee;
    overflow-y : scroll;
}

/* wrapper and push are used to make footer sticky */
.wrapper {
    min-height: 100%;
    margin-bottom: -48px;
}

.footer, .push {
    height: 48px;
}

.footer {
    background-color: #d5d6da;
}

.top-bar {
    background-color: #003c61;
    color: #fff;
    line-height: 48px;
}

.top-bar-container {
    width: 90%;
    margin: 0 auto;
    text-align: right;
    padding-right: 24px;
}

.logo {
    text-align: center;
    font-size: 5em;
    font-family: "Cookie", serif;
}

/* Container embraces menu and content */
.container {
    min-height: 100%;
    width: 90%;
    margin: 0 auto 24px auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 10px;
}

.menu {
    background-color: #fff;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-top: 2px solid rgba(245, 180,76, 1);
    flex-basis: 300px;
    flex-shrink: 0;
}

.menu > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

.menu > ul > li {
    border-bottom: 1px solid #eee;
}

.menu > ul > li > a {
    display: block;
    padding: 8px 16px;
}

.menu > ul > li > a:hover, .checked{
    background-color: rgba(245, 180, 76, 1);
    color: #fff;
}

.content {
    flex-grow: 2;
    border-top: 2px solid rgba(245, 180,76, 1);
}

/* Used for text-based content inside of content*/
.box {
    background-color: #fff;
    padding: 16px;
    margin-bottom: 24px;
    overflow: hidden;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.big-orange-button {
    background-color: rgba(245, 180, 76, 0.9);
    border: none;
    color: white;
    padding: 12px 24px;
    text-align: center;
    margin-top: 16px;
    border-radius: 2px;
    cursor: pointer;
    width: 33%;
    font-size: 14px;
}

.big-orange-button:hover {
    background-color: rgba(245, 180, 76, 1);
}


.vertical-center {
    display: flex;
    justify-content: center;
}

table {
    margin: 0 auto;
}

.orange {
    color: rgba(245, 180, 76, 1);
}

.blue {
    color: #003c61;
    font-weight: bold;
}

.blue-reverse {
    color: #fff;
    background-color: #003c61;
    font-weight: bold;
}

@media only screen and (max-width: 768px) {
    .container {
        flex-wrap: wrap;
    }

    .menu {
        flex-basis: 100%;
        margin-top: 10px;
    }
    .logo {
        display: none;
    }
}
