/*
    orange: #F5B44C; rgba(245, 180, 76, 1);
    blue:   #003c61; rgba(0, 60, 97, 1);
*/

* { box-sizing: border-box; }
a { color: inherit; text-decoration: none; }

html {
    height: 100%;
    margin: 0;
}

body {
    height: 100%;
    margin: 0;
    font-family: Ubuntu, sans-serif;
    background-color: #eee;
    overflow-y : scroll;
}

/* structure */
.top-bar {
    background-color: #003c61;
    color: #fff;
    line-height: 48px;
}

.top-bar a:hover {
    color: #F5B44C;
}

.top-bar-container {
    max-width: 1560px;
    width: 90%;
    margin: 0 auto;
    text-align: right;
    padding-right: 24px;
}

.logo {
    font-family: "Cookie", serif;
    font-size: 5em;
    font-weight: bold;
    margin: 36px 0 36px 0;
}

.logo:hover {
    color: #003c61;
}

.container {
    min-height: 100%;
    max-width: 1560px;
    width: 90%;
    margin: 0 auto 24px auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 10px;
}

.menu {
    background-color: #fff;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-top: 2px solid rgba(245, 180,76, 1);
    flex-basis: 300px;
    flex-shrink: 0;
}

.menu > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

.menu > ul > li {
    border-bottom: 1px solid #eee;
}

.menu > ul > li > a {
    display: block;
    padding: 8px 16px;
}

.menu > ul > li > a:hover, .checked {
    background-color: rgba(245, 180, 76, 1);
    color: #fff;
}

.content {
    flex-grow: 2;
    border-top: 2px solid rgba(245, 180,76, 1);
}

/* footer */
.wrapper {
    min-height: 100%;
    margin-bottom: -48px;
}

.footer, .push {
    height: 48px;
}

.footer {
    background-color: #d5d6da;
    font-size: 0.9em;
}

.footer-container {
    max-width: 1560px;
    width: 90%;
    height: 48px;
    line-height: 48px;
    vertical-align: middle;
    margin: 0 auto;
}

.footer-container > span {
    margin-left: 24px;
}


.box {
    background-color: #fff;
    padding: 16px;
    margin-bottom: 24px;
    overflow: hidden;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

/* match */
.card {
    border: 1px dotted #003c61;
    margin: 24px;
    padding: 12px;
    display: flex;
    flex-wrap: wrap;
}

.card-item1 {
    flex-grow: 2;
}

.card-item2 {
    display: flex;
    flex-direction: column;
}

/* buttons */
.button {
    background-color: #fff;
    cursor: pointer;
    border-radius: 10px;
    padding: 8px;
    margin: 20px 4px 2px 4px;
    display: inline-block;
    border: 2px solid;
    font-size: 0.8em;
    font-weight: bold;
    text-align: center;
}

.green-button {
    border-color: rgba(11, 102, 35, 0.75);
    color: rgba(11, 102, 35, 0.75);
}

.green-button:hover {
    background-color: rgba(11, 102, 35, 0.2);
}

.red-button {
    border-color: rgba(220, 53, 69, 0.75);
    color: rgba(220, 53, 69, 0.75);
}

.red-button:hover {
    background-color: rgba(220, 53, 69, 0.2);
}

.gray-button {
    border-color: rgba(66, 66, 66, 0.75);
    color: rgba(66, 66, 66, 0.75);
}

.gray-button:hover {
    background-color: rgba(66, 66, 66, 0.2);
}

.blue-button {
    border-color: rgba(0, 60, 97, 0.75);
    color: rgba(0, 60, 97, 0.75);
}

.blue-button:hover {
    background-color: rgba(0, 60, 97, 0.2);
}

/* forms */
input[type=text] {
    width: 100%;
}

label {
    color: #666;
    font-size: 0.8em;
}

/* utils */
.vertical-center {
    display: flex;
    justify-content: center;
}

table {
    margin: 0 auto;
}

.orange {
    color: rgba(245, 180, 76, 1);
}

.blue {
    color: #003c61;
    font-weight: bold;
}

.subtitle {
    font-size: 1.5em;
    font-weight: bold;
}

.link {
    font-size: 0.9em;
    font-weight: bold;
}

.link:hover {
    color: #F5B44C;
}

.long-text {
    line-height: 1.5em;
    color: #444;
    text-align: justify;
    letter-spacing: 0.01em;
}

/* small screens */
@media only screen and (max-width: 768px) {
    .container {
        flex-wrap: wrap;
    }

    .menu {
        flex-basis: 100%;
        margin-top: 10px;
    }

    .logo {
        display: none;
    }
}
