.information {
    padding: 12px;
    text-align: center;
}

.card {
    display: flex;
    flex-direction: column;
    width: 300px;
    text-align: center;
}

.top {
    border-radius: 25px 25px 0 0;
    background-color: #d5d6da;
    box-shadow: rgba(149, 157, 165, 0.2) 0 8px 24px;
    font-size: 0.9em;
    padding: 4px 0 4px 0;
}

.middle {
    background-color: #F2F1F6;
    flex-basis: 180px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    overflow-wrap: break-word;
    box-shadow: rgba(149, 157, 165, 0.2) 0 8px 24px;
}

.down {
    padding-top: 16px;
    padding-bottom: 20px;
    flex-basis: 180px;
    background-color: #fff;
    border-radius: 0 0 25px 25px;
    box-shadow: rgba(149, 157, 165, 0.2) 0 8px 24px;
}

.previous-matches {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 20px;
    padding: 24px;
}

.no-match {
    border: 1px dashed #d9d9d9;
    margin-top: 20px;
    margin-left: 12px;
    margin-right: 12px;
    padding: 10px;
    font-size: smaller;
    color: #333;
}

.blue-button {
    padding: 12px;
    margin: 0 auto 12px auto;
    display: block;
    width: 80%;
    border-radius: 24px;
    background-color: rgba(0, 60, 97, 0.6);
    color: #fff;
}

.blue-button:hover {
    background-color: rgba(0, 60, 97, 1);
}

.blue-button:first-child {

}