div.current-match {
    margin: 24px;
}

span.round-end {
    font-size: 1.1em;
    text-align: center;
}

div.match {
    display: flex;
    width: 90%;
    margin: 0 auto;
    text-align: center;
    border: 1px #333 dashed;
}

div.match-name {
    width: 50%;
    font-size: 1.2em;
}

div.score {
    width: 50%;
    font-size: 1.2em;
}

