{%  extends "base.html" %}

{% load static %}
{% block head %}
    <link rel="stylesheet" href="{% static 'css/message.css' %}">
{% endblock %}

{% block title %}optyjaciel | czytaj wiadomość{% endblock %}

{%  block content %}
    <div class="box">
        <div class="msg-container">
            {% if msg_type == "in" %}
                <div class="from-to-user">Od: {{ message.from_user.profile.nickname }}</div>
            {% else %}
                <div class="from-to-user">Do: {{ message.to_user.profile.nickname }}</div>
            {% endif %}
            <div class="sent-at">{{ message.sent_at }}</div>
            <div class="title">{{ message.title }}</div>
            <div class="body">{{ message.body }}</div>
        </div>
    </div>
{% endblock %}