{%  extends "base.html" %}

{% load static %}

{% block head %}
    <link rel="canonical" href="https://www.optyjaciel.pl/about/">
{% endblock %}

{%  block content %}

    <div class="box long-text">
        <h1>O grze</h1>

        <h2>Optyjaciel - jak znaleźć idealnego przyjaciela w internecie?</h2>

        <p>W dzisiejszych czasach wiele relacji społecznych zaczyna się wirtualnie, a to dzięki internetowi.
            Przyjaciele na odległość, czy to z różnych części kraju, czy nawet świata, są dziś normą.
            Często też zdarza się, że osoby, które chcą poznać kogoś nowego, korzystają z różnego rodzaju portali randkowych czy aplikacji społecznościowych.
            Ale co zrobić, gdy nie szukamy potencjalnego partnera romantycznego, a jedynie chcemy znaleźć kogoś, z kim będziemy mogli spędzać czas, rozmawiać, cieszyć się życiem?
            Na pomoc przychodzi optyjaciel - strona internetowa, która za pomocą pytań pomaga znaleźć idealnego przyjaciela.</p>

        <h2>Czym jest optyjaciel?</h2>

        <p>Optyjaciel to strona internetowa, na której za pomocą odpowiedzi na pytania, dobierzesz osobę, która będzie idealnym kandydatem na Twojego przyjaciela.
            Gra polega na tym, że po odpowiedzi na pytania, otrzymujesz propozycję osoby, która może zostać Twoim potencjalnym przyjacielem.</p>

        <p>Optyjaciel został stworzony z myślą o ludziach, którzy mają trudności w nawiązywaniu relacji,
            a także dla tych, którzy po prostu szukają kogoś, z kim będą się świetnie dogadywać i będą mogli dzielić swoje pasje i zainteresowania.
            Gra bazuje na psychologii i odpowiednio dobranych pytaniach, które mają pomóc w określeniu preferencji oraz cech charakteru, które są ważne w przyjaźni.</p>

        <h2>Czy optyjaciel to dobry sposób na znalezienie przyjaciela?</h2>

        <p>Optyjaciel to tylko narzędzie, które ma pomóc w znalezieniu idealnego przyjaciela.
            Ostateczna decyzja należy jednak do gracza. To on decyduje, z kim chce nawiązać kontakt, a z kim nie.
            Z drugiej strony, optyjaciel może pomóc uniknąć nieporozumień i kłopotów, jakie często towarzyszą poszukiwaniom przyjaciół w internecie.</p>

        <p>Optyjaciel ma wiele zalet. Przede wszystkim, pozwala na szybkie i efektywne dobieranie potencjalnych przyjaciół.
            Dodatkowo, gra jest prosta i przyjazna w obsłudze, a wszystkie odpowiedzi są anonimowe, co zapewnia użytkownikom pełną prywatność.</p>

        <p>Podsumowując, optyjaciel to innowacyjna i przyjazna w obsłudze gra internetowa, która pomaga w szybkim i skutecznym doborze idealnego przyjaciela.</p>
    </div>

{% endblock %}
