{%  extends "base.html" %}

{% load static %}

{%  block content %}


    <div class="box long-text">
        <h1 style="text-align: center;">Poznaj osoby podobne do siebie</h1>

        <br>
        <h2>Na czym polega gra?</h2>
        <p>
            W każdej rundzie wszyscy gracze odpowiadają na 10 takich samych pytań.
            Następnie gracze są dobierani w pary tak, aby uzyskać jak najwięcej punktów dla całej grupy graczy.
            Dobrana para to <strong>optyjaciele</strong>.
        </p>

        <p>
            Punkt przyznawany jest wtedy, gdy dwie osoby odpowiedzą tak samo na pytanie.
            Każda runda zawiera 10 pytań, więc jedna para może uzyskać maksymalnie 10 punktów.
        </p>

        <br>
        <h2>Jak dobierani są optyjaciele?</h2>
        <img src="{% static 'img/diagram.webp' %}" alt="Przykładowe wyniki z rundy"
             width="320px" height="337px" style="float: right;">
        <p>
            Optyjaciele są łączeni w pary tak, aby uzyskać jak najwięcej punktów wśród wszystkich grających.
            Punkt przyznawany jest za każdą identyczną odpowiedź w parze.
        </p>

        <p>Zobaczmy to na przykładzie.</p>

        <p>Załóżmy, że w grze biorą udział Alicja, Bartek, Czarek i Daria.
            Ich wyniki można zobaczyć na diagramie obok.</p>

        <p>Optyjacielami zostaliby Alicja i Bartek (wynik 7 punktów) oraz Czarek i Daria (wynik 6 punktów).
            W ten sposób wynik całej grupy to 13 punktów.</p>

        <p>Mimo że najwyższy wynik mają Alicja i Czarek (8 punktów) nie są oni optyjacielami,
            ponieważ wtedy Bartek zostałby połączony z Darią (4 punkty).
            A wynik całej grupy wyniósłby tylko 12 punktów.</p>

        <br>
        <h2>Jakie jest prawdopodobieństwo uzyskania 10 punktów?</h2>
        <p>Są cztery możliwe odpowiedzi, więc prawdopodobieństwo odpowiedzi tak samo na jedno pytanie to 1 do 4.</p>
        <p>W przypadku dwóch pytań, prawdopobieństwo odpowiedzi na obydwa tak samo wynosi 1 do 16.</p>
        <p>Natomiast prawdopodobieństwo, że dwie osoby odpowiedziały tak samo na wszystkie 10 pytań wynosi 1 do 1048576
            (mniejsze niż <strong>jeden na milion</strong>!).</p>
    </div>

{% endblock %}