{%  extends "base.html" %}

{% load static %}

{% block title %}optyjaciel | twoi optyjaciele{% endblock %}

{%  block content %}
    <div class="box">
        <p>Twoi optyjaciele z poprzednich rund:</p>
        <div class="cards">
        {% for match in matches %}
            {% include "game/match.html" %}
        {% empty %}
            <p>Jeszcze nie masz żadnych optyjaciół. Optyjaciele pojawią się po zakończonej rundzie, w której weźmiesz udział.</p>
        {% endfor %}
        </div>
    </div>
{% endblock %}